[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/JSLint"]
	path = vim/bundle/JSLint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/kogakure/snipmate.vim.git
[submodule "vim/bundle/tComment"]
	path = vim/bundle/tComment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/CSSLint"]
	path = vim/bunlde/CSSLint
	url = https://github.com/vim-scripts/csslint.vim.git
[submodule "vim/bundle/js-mode"]
	path = vim/bundle/js-mode
	url = https://github.com/klen/vim-jsmode.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
