[user]
    name = Florian Oellerich
    email = falkentavio@hotmail.de
[core]
    editor = vim
    autocrlf = input
    whitespace = fix, -indent-with-non-tab, trailing-space
    excludefile = ~/.gitignore
[push]
    default = simple
[rerere]
    enabled = 1
    autoupdate = 1
[color]
    ui = true
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
    keepBackup = false
[rebase]
    autosquash = true
[alias]
    s = status
    sb = status -s -b
    ############
    lg = log --all --graph --pretty=format:'%Cred%h%Creset - %s %C(bold blue)<%an>%Creset' --abbrev-commit
    ############
    c = commit
    ca = commit --amend --no-edit
    cm = commit -m
    ############
    a = add -A
    ############
    o = checkout
    ob = checkout -b
    ### checkout pull-request temporary
    # params $0 remote remote repository
    # params $1 prId id of the pull-request
    op = "!sh -c 'git fetch $0 pull/$1/head && git o FETCH_HEAD'"
    ############
    f = fetch
    fo = fetch origin
    fa = fetch --all --prune
    ############
    ps = push --set-upstream
    psf = push --force
    ############
    pl = pull
    ############
    rb = rebase
    ############
    re = reset
    rehh = reset --hard HEAD
    ############ combined
    wip = !git a && git cm 'WIP'
    aca = !git a && git ca
    acm = !git a && git cm
    ########### shell
    ### apply patch from url (like Gist)
    # params $0 url url of the patch
    dapply = "!sh -c '[ -n \"$0\" ] && curl \"$0\" | git apply -v --index'"
[include]
    path = .gitconfig.github
    path = .gitconfig.local
